# TRABALHO PRÁTICO 1

  O objetivo desse trabalho é avaliar a capacidade do aluno de gerar consultas em SQL a partir das questões propostas.

**IMPORTANTE**:

1.   Altere apenas dentro das aspas duplas onde estiver escrito *Altere Aqui*.
2.   Não serão necessárias alterações em funções ou outras partes do código.
3.   Após finalizar todas as consultas, clique em *Kernel -> Restart and Run All* no ambiente Jupyter.
4.   Altere o nome do arquivo *TP1_matricula.ipynb* adicionando o seu número de matrícula substituindo onde está escrito matrícula.
5.   Um arquivo *.csv* com a sua matrícula será gerado automaticamente no diretório do ambiente.
6.   Compactar os arquivos *TP1_matricula.ipynb* e *matricula.csv* em *matricula.zip* e submeter na tarefa criada para o TP1 via Moodle.

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
import sys
!{sys.executable} -m pip install sqlite3
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install csv
!{sys.executable} -m pip install gdown

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
import sqlite3 as sql3
import pandas as pd
import csv

## Banco de Dados

In [ ]:
# Conectar ao banco de dados
conn = sql3.connect("cineufmg.db")
cursor = conn.cursor()

# Ler e executar o schema SQL
with open("schema.sql", "r", encoding="utf-8") as f:
    schema_sql = f.read()

cursor.executescript(schema_sql)
conn.commit()

# Verificar as tabelas criadas
tabelas = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print("Tabelas criadas:", [t[0] for t in tabelas])

# Fechar conexão
conn.close()

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
con = sql3.connect("cineufmg.db")
cur = con.cursor()

## Estrutura das Tabelas do Banco de Dados Despesas

Nas células de 5 a 9 abaixo, estão listadas as informações referentes aos campos e tipos de dados relacionados a todas as tabelas do Banco de Dados Despesas:

### TABELA FILMES

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('filmes')"
df = pd.read_sql(query, con)
display(df)

### TABELA SALAS

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('salas')"
df = pd.read_sql(query, con)
display(df)

### TABELA SESSÕES

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('sessoes')"
df = pd.read_sql(query, con)
display(df)

### TABELA CLIENTES

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('clientes')"
df = pd.read_sql(query, con)
display(df)

### TABELA INGRESSOS

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('ingressos')"
df = pd.read_sql(query, con)
display(df)

# População do DB

Baseado no exemplo abaixo, incremente a população do seu banco de dados para verificar os resultados das consultas seguintes.

In [ ]:
filmes = [
    (1, 'Vingadores Ultimato', 'Ação', 148, 14),
    (2, 'Toy Story', 'Animação', 81, 0),
    (3, 'O Poderoso Chefão', 'Drama', 175, 18)
]

salas = [
    (1, 'Sala 1', 100),
    (2, 'Sala 2', 80)
]

sessoes = [
    (1, 1, 1, '2025-05-12 19:30', 20.0),
    (2, 2, 2, '2025-05-13 14:00', 15.5),
    (3, 3, 1, '2025-05-14 21:00', 25.0)
]

clientes = [
    (1, 'Alice', 'alice@email.com', '2000-01-01'),
    (2, 'Bruno', 'bruno@email.com', '1995-06-15'),
    (3, 'Carla', 'carla@email.com', '2003-11-23')
]

ingressos = [
    (1, 1, 1, '2025-05-10'),
    (2, 2, 2, '2025-05-11'),
    (3, 3, 3, '2025-05-12')
]

cur.executemany("INSERT INTO filmes VALUES (?, ?, ?, ?, ?)", filmes)
cur.executemany("INSERT INTO salas VALUES (?, ?, ?)", salas)
cur.executemany("INSERT INTO sessoes VALUES (?, ?, ?, ?, ?)", sessoes)
cur.executemany("INSERT INTO clientes VALUES (?, ?, ?, ?)", clientes)
cur.executemany("INSERT INTO ingressos VALUES (?, ?, ?, ?)", ingressos)

con.commit()

# Visualizar os dados inseridos
for tabela in ['filmes', 'salas', 'sessoes', 'clientes', 'ingressos']:
    print(f"\nTabela: {tabela}")
    for row in cur.execute(f"SELECT * FROM {tabela}"):
        print(row)

## Arquivo de Resultados
Na célula 10 abaixo, você irá colocar o numero da sua matrícula. Essa é a primeira alteração necessária para executar o TP. A partir das células 10 e 11, o arquivo de resultado será gerado.

In [ ]:
matricula = ""

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
tp1_csv = matricula+".csv"
queries = open(tp1_csv, 'w')
writer = csv.writer(queries)
writer.writerow(["Query Number", "Query Size"])

## Função de Consulta
A função abaixo executa a consulta, exibe o retorno da consulta no banco e grava os dados necessários no arquivo resultado.

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
def runQuery(query, query_name):
  df = pd.read_sql(query, con)
  query_size = df.shape
  writer.writerow([query_name, query_size])
  writer.writerow([query, df])
  display(df)

## PARTE 1 - Transformar Algebra Relacional para SQL
Abaixo, seguem as consultas que voce terá de transformar de Algebra Relacional para SQL. Altere **APENAS** o espaço entre as aspas. Dentro desse espaço é que você deverá digitar o comando de execução da consulta.

In [ ]:
a0 = "SELECT * FROM filmes"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a0, "a0")

In [ ]:
a1 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a1, "a1")

In [ ]:
a2 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a2, "a2")

In [ ]:
a3 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a3, "a3")

In [ ]:
a4 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a4, "a4")

In [ ]:
a5 = "ALTERE AQUI - Digite a consulta SQL correspondente"
# NÃO ALTERE AS LINHAS ABAIXO
runQuery(a5, "a5")

In [ ]:
a6 = "ALTERE AQUI - Digite a consulta SQL correspondente"
# NÃO ALTERE AS LINHAS ABAIXO
runQuery(a6, "a6")

In [ ]:
a7 = "ALTERE AQUI - Digite a consulta SQL correspondente"
# NÃO ALTERE AS LINHAS ABAIXO
runQuery(a7, "a7")

In [ ]:
a8 = "ALTERE AQUI - Digite a consulta SQL correspondente"
# NÃO ALTERE AS LINHAS ABAIXO
runQuery(a8, "a8")

In [ ]:
a9 = "ALTERE AQUI - Digite a consulta SQL correspondente"
# NÃO ALTERE AS LINHAS ABAIXO
runQuery(a9, "a9")

In [ ]:
a10 = "ALTERE AQUI - Digite a consulta SQL correspondente"
# NÃO ALTERE AS LINHAS ABAIXO
runQuery(a10, "a10")

## PARTE 2 - Consultas SQL
Abaixo, seguem as consultas que voce terá de executar. Altere **APENAS** o espaço entre as aspas. Dentro desse espaço é que você deverá digitar o comando de execução da consulta.

In [ ]:
q1 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q1, "q1")

In [ ]:
q2 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q2, "q2")

In [ ]:
q3 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q3, "q3")

In [ ]:
q4 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q4, "q4")

In [ ]:
q5 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q5, "q5")

In [ ]:
q6 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q6, "q6")

In [ ]:
q7 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q7, "q7")

In [ ]:
q8 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q8, "q8")

In [ ]:
q9 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q9, "q9")

In [ ]:
q10 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q10, "q10")

# PARTE 3 - Personalização por Matrícula

### 1. Crie uma nova tabela e, se necessário, altere as demais existentes

In [ ]:
pm0 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(pm0, "pm0")

### 2. Insira aqui a consulta SQL pedida pelo seu número de matrícula

In [ ]:
pm1 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(pm1, "pm1")

# Finalizando o Banco de Dados e o Arquivo de Consultas gerado:

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
queries.close()
con.close()

## Compactando Arquivos
Na célula abaixo, substitua onde está escrito MATRÍCULA pelo seu número de matrícula.

In [ ]:
#ALTERE ONDE ESTÁ ESCRITO MATRICULA para o numero de sua Matrícula
!zip -r "MATRICULA.zip" "TP1_matricula.ipynb" "MATRICULA.csv"

**LEMBRE-SE:** Após finalizar todas as consultas, clique em *Kernel -> Restart and Run All* no ambiente Jupyter!